<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreatNotes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/register.css">
</head>

<body>
    <section id="gb-register">
        <% if (locals.error) { %>
            <h6 class="error-message hidden">
                <%= error %>
            </h6>
            <% } %>
                <h2>You can register below</h2>
                <form action="/register" method="post" class="register">
                    <label for="firstname">First Name:</label>
                    <input type="text" name="firstname" id="" required>
                    <label for="lastname">Last Name:</label>
                    <input type="text" name="lastname" id="" required>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="" required>
                    <button type="submit">Register</button>
                </form>
                <a href="/">Already have an account</a>
    </section>
    <footer>
        <h4>Developed by Faruq Ayomide</h4>
    </footer>
    <script>
        const errorMessage = document.querySelector(".error-message");
        if (errorMessage) {
            alert(errorMessage.innerHTML);
        }

    </script>
</body>

</html>